
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Poppins:wght@300;700&display=swap');
:root{
    --color_main:rgb(14 165 233);

}


body{
    background-color: rgb(41, 37, 36);
    color: white;
}

.name-ao{
    font-family: "Bokor", system-ui;
    font-size: xx-large;
}

.left-bar-info{
    width: 25%;
    position: fixed;
    left: 0px;
    float: left;
}

.right-bar{
    float: right;
    width: 65%;
}
.main-logo{
    width: 150px;
}

.profile-img{
    width: 250px;
}
.bar-tabl{
    width: 250px;
}
.nav-top{
    height: 50px;
}
.vertical-hr {
    width: 1px; /* Adjust the width as needed */
    height: 50px; /* Full height of the viewport */
    background-color: var(--color_main); /* Color of the line */
    border: none; /* Remove default border */
    position: absolute;
    left: 19px;
    top: 26px;
    z-index: 1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color_main); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color_main); 
  }

#navss{
    transition: width 10s ease; 
}
.bi-copy{
    
    position: absolute;
    top: 5px;
    right: 7px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}
#information{
    cursor: pointer;
   

}
.tats{
     border:none;
     background-color:rgb(41, 37, 36);
    width: 90%;
   
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 100;
    transform: translateX(-100%); /* Start off-screen to the left */
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start off-screen to the left */
    }
    to {
        transform: translateX(0); /* End at the original position */
    }
}
@keyframes slideIn2 {
    from {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    to {
        transform: translateX(7%); /* End at the original position */
    }
}

.mov {
    transform: translateX(100%); /* Start off-screen to the right */
    animation: slideIn2 0.5s ease forwards;
}
